// CSS color valiables
$lightGrey: rgb(209, 209, 209);
$darkGrey: rgb(72, 75, 77);
$lightBlue: #355c7d;
$darkBlue: #21405c;
$lightGreen: #7CAE7A;
$darkGreen: #839073;

// Stlye for body
body {
    height: 100vh;
    background-color: $lightGrey;
    color: rgb(167, 167, 167);
    border-top: 2px solid $lightBlue;
    font-size: 10px;
}

// header overides
h5 small {
    font-size: 12px;
    letter-spacing: -0.5px;
    word-spacing: -0.5px;
}

.bg-crime {
    background-color: $darkBlue !important;
}

.bg-crime-second {
    background-color: $lightBlue !important;
}

#totalCrime {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 2px;
}

// Loader stlyling
#loader {
    background: $lightGrey;
    position: absolute;
    z-index: 100;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;

    .loadText {
        margin-top: 10%;
        color: $darkGrey;
    }
}

// Side bar
.left-bar {
    background-color: $darkGrey;
    min-height: 100%;
    padding-bottom: 10px;

    .left-bar-body {
        overflow: auto;
        padding: 3px;
        margin: 5px 0 0 0;
        font-size: 1.2rem;

        .dc-chart {
            width: 100%;
        }
    }
}

#monthSelect {
    width: 100%;
}

// Button style
.btn-crime {
    background-color: $lightGreen;
    border-color: $lightGreen;

    a {
        color: #eee;
        text-decoration: none;
    }
}

.btn-crime:hover {
    color: #fff;
    background-color: $darkGreen;
    border-color: $lightGreen;
}

// Main body styles
.main-body {
    min-height: calc(100vh - 59px);
    background-color: white;

    .card {
        background: transparent;
        color: rgb(34, 34, 34);
        margin-top: 5px;
    }
}

/* Row chart settings */
.dc-chart g.row text {
    fill: rgb(34, 34, 34);
}

.dc-chart .dc-select-menu {
    background: transparent;
    text-align: center;
    color: rgb(224, 224, 224);
    overflow: hidden;
    border: none;
    width: 100%;
}

// Screensize amendments
@media (max-width: 766px) {
    .left-bar {
        min-height: 10vh;
    }

    .dc-chart {
        width: 90vw;
    }

    .dc-chart .dc-select-menu {
        background: transparent;
        text-align: center;
        color: rgb(224, 224, 224);
        overflow: hidden;
        border: none;

        .dc-select-option {}
    }

    .dc-chart th {
        text-align: left
    }

    .dc-chart th,
    .dc-chart td {
        padding-left: 10px;
    }

    .dc-chart tr.dc-table-group td {
        padding-top: 4px;
        border-bottom: 1px solid black;
    }

    .dc-chart select {
        width: 150px;
    }

}